* {
  margin: 0px;
  color: #333;
}

button {
  background: rgb(0, 0, 0, 0.5);
  color: #fff;
  border: 0;
  padding: 8px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
}
button:hover {
  background-color: rgb(255, 0, 0);
}

input, select {
  width: 20%;
  padding: 6px 10px;
  margin: 10px 0;
  box-sizing: border-box;
  text-align: center;
}

.error {
  color: red;
  font-size: 1.5em;
  font-weight: bold;
}

.content {
  max-width: 1000px;
  padding: 10px;
  margin: 0 auto;
  margin-top: 10px;
}

.navbar {
  max-width: 1000px;
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  border-style: inset;  
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  text-decoration: none;
  padding: 10px 16px;
  font-size: 20px;
}
.navbar a:hover {
  color: red;
}
.navbar h2 {
  font-size: 40px;
  text-shadow: 4px 4px lightgray;
}

.dogPreview {
  padding: 10px 16px;
  margin: 20px 0px;
  border-bottom: solid 2px;
}
.dogPreview:hover {
  box-shadow: 10px 10px 10px rgb(0, 0, 0, 0.2);
}
.dogPreview a {
  text-decoration: none;
}

.dogDetail {
  text-align: center;
  padding: 10px;
  margin: 10px;
  border: solid 1px;
  font-size: 20px;
}
.dogDetail h2 {
  margin-bottom: 10px;
}
.dogDetail ul {
  list-style-type: none;
}
.dogDetail .buttons {
  text-align: right;
}

.newDog {
  width: 1000px;
  text-align: center;
}
.newDog h2 {
  margin-bottom: 10px;
}
.newDog span {
  text-align: center;
  padding: 10px;
}
.newDog ul {
  list-style-type: none;
}

.editDog {
  padding: 10px;
  border:solid 1px;
}
.editDog ul {
  list-style-type: none;
  max-width: 70%;
}
.editDog li {
  display: grid;
}
.editDog ul span {
  padding: 10px;
  text-align: center;
  margin: auto;
  width: 200px;
  white-space: nowrap;
  grid-column: 1/2;
}
.editDog ul span:last-child {
  grid-column: 2/2;
}
.editDog input, .editDog select {
  width: 100%
}
.editDog .save {
  text-align: right;
}